.mainFooter {
    border-top: 1px solid #c3c9d9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .footer {
        display: flex;
        min-height: 120px;
        align-items: center;
        padding-top: 30px;

        @include mq(xs) {
            height: 200px;
        }

        .socialNetworks {
            display: flex;
            justify-content: space-between;

            @include mq(xs) {
                justify-content: space-around;
                margin-bottom: 30px;
            }

            i {
                font-size: 13px;

                @include mq(lg) {
                    font-size: 20px;
                }

                @include mq(xs) {
                    font-size: 30px;
                }
            }

            &:hover {
                color: #536283;

                i {
                    color: #536283;
                }
            }
        }

        .copyright {

            a {
                font-family: $font2;
                font-size: 15px;

                &:hover {
                    color: #536283;
                }

                @include mq(sm) {
                    font-size: 13px;
                }

                @include mq(xs) {
                    font-size: 12px;
                }
            }

            @include mq(lg) {
                order: 2;
                margin: 30px auto;
                text-align: center;
            }

        }

        .search {
            form {
                max-width: 440px;
                margin: 0 auto;
            }

        }
    }
}