.feedbackForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 40px;
        text-align: center;
    }

    &_wrapp {
        .valid-massege {
            padding: 20px;
            color: green;
            &_error {
                color: red;
                span {
                    display: block;
                    padding: 3px 6px;
                    color: red;
                }
            }
        }

        input {
            width: 100%;
            padding-left: 10px;
            margin: 10px 0 20px;
            border: none;
            border-bottom: 2px solid #000;
        }

        textarea {
            width: 100%;
            min-height: 170px;
            border: 2px solid rgba(0, 0, 0, .3);
            padding: 10px;
            margin: 20px 0;
        }

        .form-valid {
            padding-bottom: 40px;

            .img {
                justify-content: flex-end;
            }

            input {
                margin: 0;
                width: 180px;
            }

            .recapBlock {
                display: flex;

                @include mq(sm) {
                    justify-content: center;
                    margin-bottom: 20px;
                }
            }
        }

        .formButton {
            display: flex;
            justify-content: center;
            .btn {
                @include mq(md) {
                    font-size: 20px;
                }
            }
        }
    }
}
.formSearch {
    button {
        font-size: 19px;
    }
}