.mainHeader {
    border-bottom: solid 1px #c3c9d9;
    display: flex;
    align-items: flex-end;
    min-height: 70px;
    background-color: #000;

    @include mq(sm) {
        padding: 0;
    }

    &-block {
        display: flex;
        align-items: center;

        .logo {
            display: block;
            height: 70px;
            background: url('../../static/media/logo(H).png') no-repeat center center;
            background-size: auto 80%;
            transition: all .4s;

            @include mq(lg) {
                height: 50px;
                order: 2;
            }

            @include mq(sm) {
                order: 1;
            }

            &:hover {
                background-color: #fff;
                background-image: url('../../static/media/logo(H)hover.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 80%;
            }
        }

        .menu {
            height: 70px;
            display: flex;
            align-items: flex-end;

            @include mq(lg) {
                order: 1;
                margin-bottom: 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }

            @include mq(sm) {
                align-items: center;
                justify-content: flex-end;
                height: 90px;
                order: 2;
                margin-bottom: 0;
                border-bottom: none;
            }

            &-link {
                z-index: 1001;
                display: none;
                height: 40px;
                width: 40px;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                @include mq(sm) {
                    display: flex;
                }

                span {
                    display: flex;
                    width: 30px;
                    height: 3px;
                    background: #fff;
                    position: relative;

                    &:after,
                    &:before {
                        content: '';
                        display: block;
                        width: 30px;
                        height: 3px;
                        background: #fff;
                        position: absolute;
                    }

                    &:after {
                        top: 7px;
                    }

                    &:before {
                        bottom: 7px;
                    }
                }
            }

            &-link_active {
                position: fixed;
                top: 15px;
                right: 15px;
                height: 80px;
                padding-bottom: 40px;
                width: 80px;
                padding-left: 40px;

                span {
                    background-color: transparent;

                    &:after {
                        transform: rotate(45deg);
                        top: 0;
                        background: #fff;
                    }

                    &:before {
                        transform: rotate(135deg);
                        bottom: 0;
                        background: #fff;
                    }
                }
            }

            &-main {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                height: 100%;
                width: 100%;
                list-style: none;

                li {
                    height: 100%;
                    position: relative;
                    list-style: none;

                    &.dropdown_menu-wrapper {
                        @include mq(sm) {
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            background: #000;

                            a {
                                color: #fff;
                                margin-right: -25px;

                                &::after {
                                    border-left: 8px solid #fff;
                                }
                            }

                            .dropdown_menu {
                                background: #000;

                                li {
                                    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

                                    a {
                                        color: #fff;
                                    }

                                    &.active {
                                        background: #fff;

                                        a {
                                            color: #242424;
                                        }
                                    }
                                }

                            }
                        }
                    }

                    a {
                        text-transform: uppercase;
                        font-family: $font2;
                        font-size: 14px;
                        padding: 20px;
                        display: flex;
                        align-items: flex-end;
                        height: 100%;
                        transition: all .4s;
                        position: relative;
                        color: #fff;
                        font-weight: 700;

                        &.dropdown_link {
                            &:after {
                                content: "";
                                display: block;
                                border: 5px solid transparent;
                                border-left: 8px solid #fff;
                                transform: rotate(90deg);
                                margin-bottom: 3px;
                                margin-left: 2px;

                                @include mq(lg) {
                                    margin-bottom: -4px;
                                    margin-left: 5px;
                                }
                            }

                            &:hover {
                                &:after {
                                    border-left: 8px solid #000;
                                }
                            }
                        }

                        &.active {
                            color: $fontColor;
                            background: #fff;

                            &:after {
                                border-left: 8px solid #000;
                            }
                        }

                        @include mq(lg) {
                            align-items: center;
                        }

                        &:hover {
                            color: $fontColor;
                            background: #fff;

                            &+ul {
                                display: flex;
                            }
                        }
                    }

                    .dropdown_menu {
                        display: none;
                        position: absolute;
                        flex-direction: column;
                        background: #fff;
                        width: 100%;
                        box-shadow: 6px 5px 12px #000;
                        z-index: 10;

                        @include mq(sm) {
                            display: flex;
                            position: relative;
                        }

                        li {
                            border-bottom: 1px solid #000;

                            a {
                                padding: 10px;
                                margin: 0;
                                padding-left: 30px;
                                color: $fontColor;

                                &:hover {
                                    background: $fontColor;
                                    color: #fff;
                                }
                            }

                            &.active {
                                background: $fontColor;
                                border-top: 1px solid #fff;

                                a {
                                    color: #fff;
                                }
                            }

                        }

                        &:hover {
                            display: flex;
                        }
                    }
                }

                @include mq(lg) {
                    justify-content: space-around;
                }

                &_mobile {
                    @include mq(sm) {
                        position: fixed;
                        background: #000;
                        left: 0;
                        top: -150%;
                        right: 0;
                        bottom: 0;
                        z-index: 1000;
                        display: flex;
                        flex-direction: column;
                        max-height: 100vh;
                        padding-top: 50px;
                        transition: all 1s;

                        li {
                            width: 100%;
                            border-bottom: 1px solid rgba(255, 255, 255, .7);

                            a {
                                color: #fff;
                                font-weight: 700;
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }

                    &-active {
                        top: 0;
                    }
                }

            }
        }

        .contacts {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            min-height: 70px;
            flex-wrap: wrap;


            @include mq(lg) {
                margin-bottom: 0;
                order: 3;
            }

            @include mq(sm) {
                display: none;
            }

            a {
                font-family: $font2;
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 6px;
                transition: all .4s;
                color: #fff;

                span {
                    display: none;
                }

                i {
                    font-size: 19px;
                }

                &.contacts-mail {
                    i {
                        font-size: 11px;
                        margin-right: 6px;
                    }
                }

                &.searchLink {
                    position: relative;

                    form {
                        display: none;
                        position: absolute;
                        bottom: -40px;
                        right: 0;
                        width: 255px;
                        height: 40px;
                        z-index: 10;
                        border: 1px solid #c3c9d9;
                        border-top: none;

                        input {
                            width: 100%;
                            border: none;
                            background: #fff;
                            padding-left: 10px;
                        }

                        button {
                            border-left: 2px solid #c3c9d9;
                            width: 50px;

                            &:hover {
                                background: $fontColor;
                                color: #fff;
                                border-left: 2px solid $fontColor;
                            }
                        }
                    }

                    &:hover {
                        form {
                            display: flex;
                        }
                    }
                }

                &:hover {
                    background: #fff;
                    color: $fontColor;
                }
            }

        }
    }

}