.head-block {
    min-height: 720px;
    background: url('../../static/media/background2.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    padding: 40px 0;
    background-size: cover;
    position: relative;
    filter: grayscale(100%); 

    &_filter {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0, .5);
    }

    @include mq(md) {
        min-height: 620px;
    }

    @include mq(sm) {
        min-height: 520px;
    }

    &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            text-transform: uppercase;
            font-size: 24px;
            font-family: $font2;
            font-weight: 300;
            letter-spacing: 3.6px;
            color: #fff;
            margin: 15px 0;
            text-align: center;

            @include mq(md) {
                font-size: 20px;
                margin: 7px 0;
            }
        }

        h1 {
            font-size: 60px;
            font-weight: 300;
            text-transform: uppercase;
            font-family: $font3;
            letter-spacing: 9px;
            margin: 15px 0;
            text-align: center;
            color: #fff;

            @include mq(md) {
                font-size: 50px;
                margin: 10px 0;
            }

            @include mq(sm) {
                font-size: 40px;
                margin: 8px 0;
            }
        }

        .title-text {
            font-size: 15px;
            font-family: $font2;
            line-height: 30px;
            text-align: center;
            font-weight: 300;
            margin-top: 15px 0;
            color: #fff;

            @include mq(sm) {
                font-size: 14px;
                margin: 7px 0;
            }
        }

        .action-block {

            margin: 25px 0;
            padding: 10px 25px;
            background: #fff;
            color: $fontColor;

            &:hover {
                background: $fontColor;
                color: #fff;
            }

            @include mq(sm) {
                margin: 15px 0;
            }
        }
    }
    &-active {
        filter: grayscale(0%); 

        &_filter {
            background: rgba(0,0,0, .3);
        }
    }
}

.catalog,
.content {
    .sliders-block {
        padding-top: 120px;
        padding-bottom: 70px;
        text-align: center;

        @include mq(md) {
            padding-top: 80px;
        }

        @include mq(sm) {
            padding-top: 60px;
        }

        .block_on_main {
            display: none;
            margin-bottom: 30px;

            &-active {
                display: block;
            }
        }

        .slider-wrap {
            @include mq(sm) {
                padding-bottom: 20px;
                margin-bottom: 40px;
            }

            .prevArrowBg {
                @include mq(md) {
                    left: -185px;
                }

                @include mq(sm) {
                    left: -225px;
                }

                @include mq(xs) {
                    left: -245px
                }
            }

            .nextArrowBg {
                @include mq(md) {
                    right: -185px;
                }

                @include mq(sm) {
                    right: -225px;
                }

                @include mq(xs) {
                    right: -245px
                }
            }

            .slide-block,
            .slide-block_wide {

                h4 {
                    height: 54px;
                    overflow: hidden;
                }

                .slick-prev {
                    @include mq(md) {
                        left: 17px;
                    }
                }

                .slick-next {
                    @include mq(md) {
                        right: 17px;
                    }
                }

                .slick-arrow {
                    @include mq(md) {

                        z-index: 103;
                        height: 45px;
                        width: 45px;

                        i {
                            font-size: 25px;
                        }
                    }
                }
            }

            .slick-dots {
                bottom: -45px;

                li {
                    button {
                        &::before {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .button-block {
            display: flex;
            align-items: center;
            justify-content: center;

            @include mq(sm) {
                flex-direction: column;
            }

            a,
            button {
                min-width: 146px;
                height: 55px;
                letter-spacing: 1.3px;
                text-transform: uppercase;
                font-size: 25px;
                font-family: $font3;
                border: 3px solid #242424;
                margin: 15px;
                display: flex;
                align-items: center;
                justify-content: center;

                &.btn-active,
                &:hover {
                    color: #fff;
                    background: #242424;
                }
            }
        }
    }

    .team {
        padding-top: 120px;

        @include mq(md) {
            padding-top: 80px;

        }

        &-cards {
            display: flex;
            flex-grow: grow;
            justify-content: center;
            &_wrapper {
                display: flex;
                justify-content: space-around;
                .specialty-card {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 50px;
    
                    @include mq(sm) {
                        text-align: center;
                        margin-bottom: 30px;
    
                        img {
                            margin-bottom: 10px;
                        }
    
                        .specialtyName {
                            font-size: 15px;
                        }
    
                        .specialty {
                            font-size: 12px;
                            letter-spacing: 1.8px;
                        }
                    }
    
                    img {
                        width: 100%;
                        margin-bottom: 20px;
                        filter: grayscale(100%);
                    }
    
                    .specialtyName {
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
    
                    .specialty {
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 2.1px;
                    }
    
                    &:hover {
                        img {
                            filter: grayscale(0%);
                        }
    
                        .specialtyName {
                            color: #536283;
                        }
                    }
                }
            }

        }
    }

    .bisiness-cases {
        margin: 30px auto;
    }

    .ask-professionals {
        margin: 30px auto;
    }
}

.catalog {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    padding-bottom: 40px;
    .sliders-block {
        padding-top: 40px;
    }
    .title {
        margin-bottom: 30px;
    }
    .button-block {
        margin-bottom: 40px;
    }
}

.contacts-page {
    padding-top: 30px;
    .contacts-block {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
        @include mq(sm) {
            padding-bottom: 20px;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            li {
                a {
                    line-height: 52px;
                    font-size: 25px;
                    &:hover {
                        background: $fontColor;
                        color: #fff;
                    }
                }
            }
        }
    }
}