body {
    position: relative;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 200px;
}

.title {
    text-transform: uppercase;
    font-size: 60px;
    font-family: $font3;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto 43px;
    padding: 0 15px;

    @include mq(md) {
        font-size: 55px;
    }

    @include mq(sm) {
        font-size: 50px;
        margin-bottom: 35px;
    }
}

.btn {
    display: block;
    background: #242424;
    padding: 20px 45px;
    color: #fff;
    font-size: 32px;
    letter-spacing: 1.6px;
    font-family: $font3;
    text-transform: uppercase;
    border: none;
    border: 2px solid #3b3b3b;

    &:hover {
        background: #fff;
        color: #242424;
    }

    @include mq(md) {
        padding: 15px 35px;
    }

    @include mq(sm) {
        font-size: 27px;
        padding: 10px 30px;
    }

    @include mq(xs) {
        font-size: 22px;
        padding: 8px 20px;
        max-width: 280px;
    }
}

.pageTitle {
    font-family: $font3;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 30px auto 60px;
    text-align: center;

    @include mq(sm) {
        margin: 30px 0;
    }
}

.tags {
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    line-height: 30px;
    font-family: $font2;


    .tag {
        font-family: $font2;
        color: #546283;
        margin-left: 15px;

        &:hover {
            color: #000;
        }
    }
}

.borderBottom {
    padding-bottom: 50px;
    border-bottom: solid 1px #c3c9d9;
    margin-bottom: 50px;
}

.search {
    &_title {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        line-height: 65px;
    }

    form {
        display: flex;

        input {
            color: #242424;
            font-size: 13px;
            font-family: $font2;
            border: none;
            border-bottom: 1px solid #242424;
            width: 100%;
            padding-left: 3px;

            &::placeholder {
                color: #242424;
                opacity: 1;
            }
        }

        button {
            background: transparent;

            i {
                font-size: 20px;
                margin-bottom: -2px;
            }
        }
    }
}

.openBlock {
    @include mq(sm) {
        &::after {
            content: ">";
            display: inline-block;
            margin-left: 15px;
            font-size: 130%;
            transform: rotate(90deg) translateX(3px);
        }
    }
}

.closeBlock {
    @include mq(sm) {
        display: none;
    }
}

.comments {
    font-size: 14px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    font-family: $font2;

    span {
        text-transform: uppercase;
        display: flex;
        height: 33px;
        width: 30px;
        background: url('../../static/media/posts/commentBg.png') no-repeat center center;
        background-size: contain;
        color: #fff;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        padding-bottom: 5px;
        font-family: $font2;
    }
}


.team-cards_popUp {
    .wrapp {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10001;
        overflow: scroll;
    }
    &-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10000;
        background: rgba($color: #fff, $alpha: 0.66)
    }
    &-block {
        width: 90%;
        max-width: 1140px;
        border: 1px solid #242424;
        background-color: #ffffff;
        padding: 50px;
        margin: 30px auto;
        position: relative;
        z-index: 10002;
        left: 0;
        right: 0;

        .desc-info {
            margin-bottom: 40px;
            img {
                width: 100%;
                margin-bottom: 30px;
            }

            .links {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                a {
                    width: 45%;
                    padding: 12px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #fff;
                    color: #242442;
                    font-size: 24px;
                    font-family: $font1;

                    &:hover {
                        background: #000;
                        color: #fff;
                    }
                }
            }

            .education,
            .work-eperience {
                span {
                    display: block;
                    width: 100%;
                    font-size: 20px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                font-size: 17px;
                font-family: $font2;
                margin-bottom: 30px;
            }

        }

        .main-info {
            .name {
                font-size: 60px;
                text-transform: uppercase;
                font-family: $font3;
                font-weight: 600;
                letter-spacing: 1.5px;
                margin-bottom: 30px;
                line-height: 46px;
                @include mq(sm) {
                    font-size: 50px;
                    line-height: 50px;
                }
            }

            .position {
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 3.6px;
                font-family: $font3;
                font-weight: 600;
                margin-bottom: 33px;
            }

            .main-desc {
                p {
                    font-family: $font2;
                    font-size: 17px;
                    margin-bottom: 22px;
                }
            }
        }
    }
}

.mfp-bg {
    background: rgba($color: #fff, $alpha: 0.66);
    cursor: pointer !important;
}
.mfp-close {
    font-family: $font3;
    font-size: 60px;
}