.slider-wrap {
    max-width: 1900px;
    margin: auto;
    position: relative;
    overflow: hidden;

    .arrowBg {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 150px;
        z-index: 102;

        @include mq(xs) {
            display: none;
        }
    }

    .prevArrowBg {
        box-shadow: 95px 0px 50px 60px #fff;
        left: -155px;
    }

    .nextArrowBg {
        box-shadow: -95px 0px 50px 60px #fff;
        right: -155px;
    }

    .slider {
        .slick-arrow {
            z-index: 103;
            height: 55px;
            width: 55px;
            border-radius: 100%;
            border: 2px solid #000;
            transition: all .2s;

            &:before {
                display: none;
            }

            i {
                font-size: 30px;
                color: #000;
            }

            &:hover {
                background: #000;

                i {
                    color: #fff;
                }
            }
        }

        .slick-prev {
            left: 22px;
        }

        .slick-next {
            right: 22px;
        }

        .slide-block,
        .slide-block_wide {
            width: 430px;
            height: 500px;
            margin: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;


            img {
                width: 100%;
                height: 241px;
                filter: grayscale(100%);
            }

            h4 {
                font-size: 18px;
                text-transform: uppercase;
                line-height: 26px;
                margin: 7px 0;
                text-align: left;
            }

            .infoDate {
                font-family: $font2;
                font-size: 12px;
                color: #555;
                line-height: 26px;

                time,
                .name {
                    text-transform: uppercase;
                }
            }

            .rating-tags {
                display: flex;
                justify-content: space-between;
                margin: 7px 0 13px;

                div {
                    padding: 0;
                }

                .rating {
                    display: flex;
                    font-family: $font2;
                    font-size: 12px;
                    line-height: 18px;

                    &-value {
                        color: #555;
                        font-weight: 700;
                        margin-left: 3px;
                    }
                }

                .tags {
                    justify-content: flex-end;

                    @include mq(sm) {
                        margin-top: 10px;
                    }
                }
            }

            .shortDesc {
                font-size: 13px;
                font-family: $font2;
                line-height: 24px;
                text-align: left;
                height: 170px;
            }

            &:hover {
                img {
                    width: 100%;
                    filter: grayscale(0%);
                }

                h4 {
                    color: #415378;
                }
            }

            @include mq(lg) {
                width: 357px;
                height: 445px;
                img {
                    height: 200px;
                }
            }
            @include mq(md) {
                width: 320px;
                height: 410px;
                margin: 0 8px;
                img  {
                    height: 180px;
                }

                h4 {
                    font-size: 16px;
                    height: 54px;
                    overflow: hidden;
                }

                .infoDate {
                    font-size: 11px;
                }

                .shortDesc {
                    font-size: 12px;
                    height: 150px;
                    overflow: hidden;
                }
            }
        }
    }
}

.button-block {
    button {
        min-width: 166px;
        height: 65px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        font-size: 32px;
        font-family: $font3;
        border: 3px solid #242424;
        background: #fff;
        margin: 15px;

        &:hover {
            background: #000;
            color: #fff;
        }
    }
}