p, 
li, 
ul,
ol,
a,
dd,
dt,
dl,
span,
div,
h1,
h2,
h3,
h4,
h5,
button
 {
    margin: 0;
    padding: 0;
    font-family: $font1;
    color: $fontColor;
}
//  STYLE FOR RESPONSIVE FOOTER 
body {
    height: 100%;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainContent {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}


//  END STYLE FOR RESPONSIVE FOOTER 

a {
    text-decoration: none !important;
    cursor: pointer;
    transition: .3s;
    &:hover {
        color: #242424;
    }
}
button {
    cursor: pointer;
    transition: .3s;
    border: none;
}
ul,
li {
    list-style: none;
}